body{
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
h2{
  color: #120078;
  font-weight: bold;
}

/*navigation*/
.litbgcolor{
  background-color: #f7f7f7;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}
.titlegif{
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100%
}

.mynav{
  background-color: #120078;
  color: #fff;
  font-weight: bold;
}
.container-fluid{
  padding-right: 0px;
  padding-left: 0px;
}

/* attactive section*/
.muskanhead{
  color: #120078;
  font-weight: normal;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
}
#topcontainer{
  padding-top: 1rem;
}
.mount{
  width: 30rem;
}

/*About me*/
.about{
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 30rem;
}
.iconcolor{
  color: #120078;
}
.details{
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
  text-align: left;
}

/*-- Education with bootstrap card--*/
#education{
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.card{
  text-align: left;
}
h6{
  color: #120078;
  text-align: center;
}

/*Skills*/
#skills{
  width:50%;
  margin-left: auto;
  margin-right: auto;
  height: 10%;
}
.imgrialign{
  width: 30%;
  float: right;
  height: 30%;
}
.textal{
  text-align: left;
}
.vis{
  visibility: hidden;
}
.mystyle{
  background-image: url("https://media.giphy.com/media/LOQUwai4PUhKT1cmtw/giphy.gif");

}
/*Projects*/
.inimgd{
  height: 32px;
  width: 32px;
}
.carousel-item{
  padding: 7% 15%;
}


/* footer section */
#footer{
  padding: 7% 15%;
  text-align: center;
}

.social-icon{
  margin: 20px 10px;
}
